In [16]:
import pandas as pd
from urllib.request import Request
from geopy.geocoders import Nominatim
import reverse_geocoder as rg
df = pd.read_csv("~/Desktop/info474-earthquakes/data/database.csv")

In [17]:
dataset = df.loc[:,["Date","Latitude","Longitude","Type","Depth","Magnitude"]]
dataset.head()

         Date  Latitude  Longitude        Type  Depth  Magnitude
0  01/02/1965    19.246    145.616  Earthquake  131.6        6.0
1  01/04/1965     1.863    127.352  Earthquake   80.0        5.8
2  01/05/1965   -20.579   -173.972  Earthquake   20.0        6.2
3  01/08/1965   -59.076    -23.557  Earthquake   15.0        5.8
4  01/09/1965    11.938    126.427  Earthquake   15.0        5.8

In [4]:
dataset = dataset[0:5]

         Date  Latitude  Longitude        Type  Depth  Magnitude
0  01/02/1965    19.246    145.616  Earthquake  131.6        6.0
1  01/04/1965     1.863    127.352  Earthquake   80.0        5.8
2  01/05/1965   -20.579   -173.972  Earthquake   20.0        6.2
3  01/08/1965   -59.076    -23.557  Earthquake   15.0        5.8
4  01/09/1965    11.938    126.427  Earthquake   15.0        5.8

In [ ]:
# geocode is a way to find the statistics
geolocator = Nominatim()
location = geolocator.geocode("Seattle")
location.address
# google api key just in case 
'AIzaSyCqVl-XCDNekl9r8BmHb5oe4WcTZRYjweE'

In [ ]:
dataset['Latitude'][0]

In [ ]:
results = rg.search([dataset['Latitude'][0], dataset['Longitude'][0]]) # default mode = 2

In [13]:
def newLocation(df):
    return rg.search([df['Latitude'], df['Longitude']])[0]['name']

In [ ]:
# dataset.apply(newLocation, axis=1)
# apply pass in one row at a time
dataset['Location'] = dataset[['Latitude','Longitude']].apply(newLocation, axis=1)

In [ ]:
dataset

In [ ]:
results[0]['name']

In [ ]:
dataset